html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia", sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
  background-color: #fff;

  display: flex;
  column-gap: 37px;
}

/* utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -100000px;
  background: transparent;
  font-size: 0;
}
